<footer class="footer footer-content">
    <div class="container">
      <span class="text-muted">All rights reseved by Ken's bar Co. Ltd</span>
    </div>
    <nav>
      <ul>
        <p class = "footer-nav"><%= link_to 'About', '#' %></p>
      </ul>
    </nav>
  </footer>
